# Виртуальное окружение с установленными пакетами
.venv/

# Папки, куда Python складывает служебные файлы после запуска кода
__pycache__/

# Служебные файлы с расширениями .pyc, .pyo и .pyd
*.py[cod]

# Локальный файл с настройками подключения к БД
.env

# Служебный файл, который macOS может создавать в папках
.DS_Store